h2, h3, ul, li, em, b, p
{
	text-align: center;
	margin: auto;
}
h2
{
	border-style: double;
	border-color: rgb(64, 60, 47);
	text-decoration: underline;
}
h3, p
	{
	border-color: rgb(64, 60, 47);
	border-style: double;
	margin: auto;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 50%
	}
p.double
{
	border-style: double;
}
li
	{
       text-align: left;
       font-weight: bold;
 	   text-indent: right;
	   margin: auto;
	   width: 54%;
	}
body
      {
        background-color: rgb(224, 217, 188);
        list-style-position:inside;
      }
