
     header,table,h1,h2,h3,footer,li
      {
       text-decoration:underline;
       text-align:center;
       font-weight:bold;
       text-decoration: underline;
       text-indent:right;
       color: rgb(184,132,36);
      }
      header
      {
        font-size:35pt;
	font-family: Verdana;
	text-decoration-line: bold;
      }
	p, li
	{
	text-align:left;
	margin:auto;
	text-indent:right;
	width:30%;
	color: rgb(184,132,36);
	}
      a href
      {
        text-align:center;
      }
      body
      {
        background-color: rgb(92, 48, 68);
        list-style-position:inside;
      }
	.center 
	{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	}

	a:link
	{
	color: white;
	}
	a:visited
	{
	color: red;
	}
	a:hover
	{
	color: yellow;
	}
	@font-face
	  	{
	  	font-family:'LeagueSpartan';
	  	src:url('css/font/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
	  	}
	  	*
	 	{
	  	font-family:'LeagueSpartan';
	  	}
	  	th
	  	{
	  	font-family:'Rubik';
	  	src:url('css/font/Rubik-VariableFont_wght.ttf') format('truetype');
	  	}
	  	form
	 	{
	  	font-family:'Rubik';
	  	font-size: 25px;
	  	}
