<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>StyleSheet</title>
    </head>

     header,table,h1,h2,footer,li  
      {
       text-decoration:underline;
       text-align:center;
       font-weight:bold;
       text-decoration: underline;
       text-indent:right;
      }
      header
      {
        font-size:30pt;
      }
      #wantedlist
      {
      font-size:20pt:
      float:right:
      }
      a href
      {
        text-align:center;
      }
      body
      {
        background-color: rgb(114, 66, 245);
        list-style-position:inside;
      }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
	
