

     header,table,h1,h2,h3,footer,li  
      {
       text-decoration:underline;
       text-align:center;
       font-weight:bold;
       text-decoration: underline;
       text-indent:right;
      }
      header
      {
        font-size:30pt;
	font-family: Verdana;
	text-decoration-line: bold;
      }
      #wantedlist
      {
      font-size:20pt:
      float:right:
      }
      a href
      {
        text-align:center;
      }
      body
      {
        background-color: rgb(114, 66, 245);
        list-style-position:inside;
      }
	.center 
	{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	}

a:link
{
	color: white;
}
a:visited
{
	color: red;
}
a:hover
{
	color: yellow;
}
@font-face
	  	{
	  	font-family:'LeagueSpartan';
	  	src:url('bacs200/css/font/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
	  	}
	  	*
	 	{
	  	font-family:'LeagueSpartan';
	  	}
	  	header
	  	{
	  	font-family:'Rubik';
	  	src:url('bacs200/css/font/Rubik-VariableFont_wght.ttf') format('truetype');
	  	}
	  	form
	 	{
	  	font-family:'LeagueSpartan';
	  	font-size: 25px;
	  	}
